  # Add to presidio-analyzer/presidio_analyzer/conf/default_recognizers.yaml,
  # next to the other country_specific entries.
  - name: BrCpfRecognizer
    supported_languages:
      - pt
    type: predefined
    enabled: false
    country_code: br

  - name: BrCnpjRecognizer
    supported_languages:
      - pt
    type: predefined
    enabled: false
    country_code: br
